# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test_duckdb
src/duckdb/
src/csv_data/*.csv
src/temp_csv/*.csv
src/SampleTest/*.txt
src/SampleTest/data/*.csv
src/SampleTest/*.csv